<div class="container home-total mb-4">

    <h1 class="text-center m-5">Dashboard Admin Products</h1>
    <div class="container mb-4 d-flex justify-content-center">
        <div class="text-center d-flex align-items-center justify-content-center total total-orders">
            <div>
                <p class="m-3">Total Categories</p>
                <span class="m-3"><i class="fa fa-tags m-3"></i>4</span>
            </div>
            <div>
                <p class="m-3">Total items</p>
                <span class="m-3"><i class="fa fa-tag m-3"></i>45</span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <!-- search -->
            <div class="d-flex justify-content-center mb-4">
                <input type="text" class="w-75 form-control rounded-end-0" placeholder="Search" id="search">
                <div ngbDropdown>
                    <button class="btn rounded-start-0 btn-info text-white" type="button" id="dropdownBasic1"
                        ngbDropdownToggle>
                        Search
                    </button>
                    <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 200px;"
                        aria-labelledby="dropdownMenuButton1">
                        <li>
                            <button class="p-0 w-75 btn btn-search m-3" (click)="search.searchmood('Category Brand')"
                                ngbDropdownItem id="catBrandNameIDSrch" type="button">
                                <i class="fa fa-search me-2"></i>Category Brand
                            </button>
                        </li>
                        <li>
                            <button class="p-0 w-75 btn btn-search m-3" (click)="search.searchmood('Category Model')"
                                ngbDropdownItem id="catModelNameIDSrch" type="button">
                                <i class="fa fa-search me-2"></i>Category Model
                            </button>
                        </li>
                        <li>
                            <button class="p-0 w-75 btn btn-search m-3" (click)="search.searchmood('Category Year')"
                                ngbDropdownItem id="catYearIDSrch" type="button">
                                <i class="fa fa-search me-2"></i>Category Year
                            </button>
                        </li>
                        <li>
                            <button class="p-0 w-75 btn btn-search m-3" (click)="search.searchmood('Item Name')"
                                ngbDropdownItem id="itemNameIDSrch" type="button">
                                <i class="fa fa-search me-2"></i>Item Name
                            </button>
                        </li>
                        <li>
                            <button class="p-0 w-75 btn btn-search m-3" (click)="search.searchmood('Item description')"
                                ngbDropdownItem id="itemDescIDSrch" type="button">
                                <i class="fa fa-search me-2"></i>Item description
                            </button>
                        </li>
                        <li>
                            <button class="p-0 w-75 btn btn-search m-3" (click)="search.searchmood('Item Price')"
                                ngbDropdownItem id="itemPriceIDSrch" type="button">
                                <i class="fa fa-search me-2"></i>Item Price
                            </button>
                        </li>
                        <li>
                            <button class="p-0 w-75 btn btn-search m-3" (click)="search.searchmood('country')"
                                ngbDropdownItem id="countryIDSrch" type="button">
                                <i class="fa fa-search me-2"></i>country
                            </button>
                        </li>
                        <li>
                            <button class="p-0 w-75 btn btn-search m-3" ngbDropdownItem
                                (click)="search.searchmood('Status')" id="itemNameIDSrch" type="button">
                                <i class="fa fa-search me-2"></i>Status
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="btn-group col-12">
                <button type="button" class="btn btn-info dropdown-toggle text-white fw-bold" id="sortBtnToggle"
                    data-bs-auto-close="outside">
                    Sort By
                </button>
                <ul class="dropdown-menu dropdown-menu-list w-100 text-center itemNodeClassParent"
                    id="sortBtnToggleChild">
                    <li id="priceBtnLabelId" class="dropdown-item dropdown-item-list">Price
                        <i class="fa-solid fa-money-bill-wheat"></i>
                    </li>
                    <li id="priceBtnLabelIdToggle" class="hideClass itemNodeClassParent">
                        <ul>
                            <li class="dropdown-item dropdown-item-list itemNodeClass" id="idLowerToUpper">
                                Price: lower to heighr
                                <i class="fa-solid fa-arrow-up-wide-short"></i>
                            </li>
                            <li class="dropdown-item dropdown-item-list itemNodeClass" id="idUpperToLower">
                                Price: heighr to lower
                                <i class="fa-solid fa-arrow-down-short-wide"></i>
                            </li>
                        </ul>
                    </li>
                    <li id="yearBtnLabelId" class="dropdown-item dropdown-item-list">Year
                        <i class="fa-solid fa-calendar-days"></i>
                    </li>
                    <li id="yearBtnLabelIdToggle" class="hideClass itemNodeClassParent">
                        <ul>
                            <li class="dropdown-item dropdown-item-list itemNodeClass" id="idLowerToUpperYear">Year:
                                lower to
                                heighr
                                <i class="fa-solid fa-arrow-up-wide-short"></i>
                            </li>
                            <li class="dropdown-item dropdown-item-list itemNodeClass" id="idUpperToLowerYear">Year:
                                heighr to
                                lower
                                <i class="fa-solid fa-arrow-down-short-wide"></i>
                            </li>
                        </ul>
                    </li>


                    <li id="AtoZBtnId" class="dropdown-item dropdown-item-list">A To Z
                        <i class="fa-solid fa-arrow-down-a-z"></i>
                    </li>
                    <li id="AtoZBtnIdToggle" class="hideClass itemNodeClassParent">
                        <ul>
                            <li class="dropdown-item dropdown-item-list itemNodeClass" id="idAtOZ">Category Brand
                            </li>


                            <li class="dropdown-item dropdown-item-list itemNodeClass" id="idAtOZCatMod">Category
                                Model</li>



                            <li class="dropdown-item dropdown-item-list itemNodeClass" id="idAtOZItemName">Item Name
                            </li>


                            <li class="dropdown-item dropdown-item-list itemNodeClass" id="idAtOZICountry">country
                            </li>

                        </ul>
                    </li>

                    <li id="ZtoABtnId" class="dropdown-item dropdown-item-list">Z To A
                        <i class="fa-solid fa-arrow-up-a-z"></i>
                    </li>
                    <li id="ZtoABtnIdToggle" class="hideClass itemNodeClassParent">
                        <ul>
                            <li class="dropdown-item dropdown-item-list itemNodeClass" id="idZtoA">Category Brand
                            </li>

                            <li class="dropdown-item dropdown-item-list itemNodeClass" id="idZtoACatMod">Category
                                Model</li>
                            <li class="dropdown-item dropdown-item-list itemNodeClass" id="idZtoAItemName">Item Name
                            </li>
                            <li class="dropdown-item dropdown-item-list itemNodeClass" id="idZtoACountry">country
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a class="btn btn-info text-white w-auto mt-4 fw-bold text-center"
                routerLink="DBAdm-Add-Products">Add<span><i class="fa fa-tag m-3 me-0"></i></span></a>
        </div>


    </div>
</div>

<!-- End primary tree -->


<!-- start total users tree -->

<div class="container-fluid-md container-xxl latest total-Merchant-users-details table-responsive">
    <table class="table table-striped table-hover text-center" id="mainTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" id="catBrandNameID">Category Brand</th>
                <th scope="col" id="catModelNameID">Category Model</th>
                <th scope="col" id="itemNameID">Item Name</th>
                <th scope="col" id="itemDescID">Item description</th>
                <th scope="col" id="itemPriceID">Item Price</th>
                <th scope="col" id="countryID">made in</th>
                <th scope="col">Item Pricture</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <tr class="userOne order-details" *ngFor="let item of Product">
                <th scope="row">{{item.id}}</th>
                <td class="catBrandName">{{item.category_brand_id}}</td>
                <td class="catModelName">{{item.category_model_id}}</td>
                <td class="itemName">{{item.name}}</td>
                <td class="itemDesc">{{item.desc}}</td>
                <td class="itemPrice">{{item.price}}</td>
                <td class="country">{{item.made}}</td>
                <td><img [src]="item.img" alt="" width="100px" height="100px"></td>
                <td class="actionBtns">
                    <button type="button" class="btn btn-success">Accept <i class="fa fa-check"></i></button>
                    <button type="button" class="btn btn-warning text-white">Edit <i
                            class="fa fa-exclamation-triangle"></i></button>
                    <button type="button" class="btn btn-danger">Reject <i class="fa fa-xing"></i></button>
                </td>
            </tr>
           
        </tbody>
    </table>
</div>

<!-- End total users tree -->