<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="DBAdm-Home">Spare Parts</a>
        <p class="navbar-brand">Welcome Admin</p>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Spare Parts</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex justify-content-between flex-column">
                <ul class="navbar-nav flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="DBAdm-Home">Dashboard
                            Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="DBAdm-Orders">Orders</a>
                    </li>
                    <li class="nav-item nav-itemCat">
                        <div ngbDropdown>
                            <div class="btn-user dropdown-toggle" type="button" id="dropdownConfig" ngbDropdownToggle>
                                Category
                            </div>
                            <ul ngbDropdownMenu aria-labelledby="dropdownConfig">
                                <li><a ngbDropdownItem routerLink="DBAdm-Categories">Categories</a></li>
                                <li><a ngbDropdownItem routerLink="DBAdm-CategoryBrands">Category Brands</a></li>
                                <li><a ngbDropdownItem routerLink="DBAdm-CategoryModels">Category Models</a></li>
                                <li><a ngbDropdownItem routerLink="DBAdm-CategoryItems">Categories and Items</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item nav-itemCat">
                        <div ngbDropdown>
                            <div class="btn-user dropdown-toggle" type="button" id="dropdownConfig" ngbDropdownToggle>
                                Users
                            </div>
                            <ul ngbDropdownMenu aria-labelledby="dropdownConfig">
                                <li><a ngbDropdownItem routerLink="DBAdm-MerUsers">Merchant
                                        Users</a></li>
                                <li><a ngbDropdownItem routerLink="DBAdm-MainCenUsers">Maintenance
                                        Center Users</a></li>
                                <li><a ngbDropdownItem routerLink="DBAdm-Customers">customers</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
                <div class="darkBtnParent">
                    <div class="darkBtn">
                        <h2>Dark Mode</h2>
                        <label class="switch">
                            <input type="checkbox" id="darkBtnChecked" (click)="darkFun()">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>