
<!-- start primary tree -->

<div class="container home-total">
    <h1 class="text-center m-5">Dashboard Admin</h1>


    <div class="row">
      <div class="col-lg-3">
        <div class="stat-cursor text-center total total-users">Total Users
          <span><i class="fa fa-users m-2"></i>45</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="stat-cursor text-center total total-pending">Pending Users
          <span><i class="fa fa-spinner m-2"></i>15</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="stat-cursor text-center total total-orders">Total Orders
          <span><i class="fa fa-cubes m-2"></i>200</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="stat-cursor text-center total total-items">Total Items
          <span><i class="fa fa-tags m-2"></i>4012</span>
        </div>
      </div>
    </div>
  </div>

  <!-- End primary tree -->




  <!-- start total users tree -->

  <div class="container latest total-users-details">
    <div class="row">

      <div class="col-lg-4">
        <div class="stat-cursor total text-center parent-info-users total-users-tag total-Merchant-Users">Total Merchant
          Users
          <span><i class="fa fa-users m-2"></i>15</span>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="stat-cursor total text-center parent-info-users total-users-tag total-Maintenance-Center-Users">
          Total
          Maintenance Center Users
          <span><i class="fa fa-users m-2"></i>15</span>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="total text-center parent-info-users total-users-tag total-Normal-Users">Total customers
          <span><i class="fa fa-users m-2"></i>15</span>
        </div>
      </div>

    </div>
  </div>

  <!-- End total users tree -->



  <!-- start last users tree -->

  <div class="container merchant-users total-merchant-users-details-info">
    <div class="row">
      <div class="col-md-6">
        <div class="users-info total">
          <div class="d-flex justify-content-between">
            <div class=""><i class="fa fa-check m-2"></i>Accepted Merchant Users</div>
            <div class="panel-body"><i class="fa fa-users m-2"></i>10</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="users-info-pending total">
          <div class="d-flex justify-content-between">
            <div class="panel-heading"><i class="fa fa-spinner m-2"></i>Pending Merchant Users</div>
            <div class="panel-body"><i class="fa fa-users m-2"></i>5</div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container maintenance-center-users total-Maintenance-users-details-info">
    <div class="row">
      <div class="col-md-6">

        <div class="users-info total">
          <div class="d-flex justify-content-between">
            <div class=""><i class="fa fa-check m-2"></i>Accepted Maintenance Center Users</div>
            <div class="panel-body"><i class="fa fa-users m-2"></i>10</div>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <div class="users-info-pending total">
          <div class="d-flex justify-content-between">
            <div class="panel-heading"><i class="fa fa-spinner m-2"></i>Pending Maintenance Center Users</div>
            <div class="panel-body"><i class="fa fa-users m-2"></i>5</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- start total pending users tree -->

  <div class="container latest total-users-details-pending">
    <div class="row">

      <div class="col-lg-6">
        <div class="total text-center parent-info-users-pending total-users-tag total-Merchant-Users-pending">Pending
          Merchant Users
          <span><i class="fa fa-spinner m-2"></i>10</span>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="total text-center parent-info-users-pending total-users-tag total-Maintenance-Center-Users-pending">
          Pending
          Maintenance Center Users
          <span><i class="fa fa-spinner m-2"></i>5</span>
        </div>
      </div>
    </div>
  </div>

  <!-- End total pending users tree -->


  <!-- start total orders tree -->

  <div class="container latest total-orders-parent">

    <div
      class="total d-flex justify-content-between text-center parent-info-orders total-users-tag total-Merchant-Users-pending">
      Category one <span> orderd 50 times <i class="fa fa-cubes m-2"></i></span>
    </div>
    <div
      class="total d-flex justify-content-between text-center parent-info-orders total-users-tag total-Merchant-Users-pending">
      Category two <span> orderd 50 times <i class="fa fa-cubes m-2"></i></span>
    </div>
    <div
      class="total d-flex justify-content-between text-center parent-info-orders total-users-tag total-Merchant-Users-pending">
      Category three <span> orderd 50 times <i class="fa fa-cubes m-2"></i></span>
    </div>

  </div>

  <!-- start total orders tree -->



  <!-- start total orders tree -->

  <div class="container latest total-category-parent">

    <div class="total d-flex justify-content-between text-center parent-info-category">Category one <span> has 50
        different items <i class="fa fa-tag m-2"></i></span>
    </div>
    <div class="total d-flex justify-content-between text-center parent-info-category">Category two <span> has 50
        different items <i class="fa fa-tag m-2"></i></span>
    </div>
    <div class="total d-flex justify-content-between text-center parent-info-category">Category three <span> has 50
        different items <i class="fa fa-tag m-2"></i></span>
    </div>

  </div>

  <!-- start total orders tree -->
